<!-- Modal -->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You will delete all information about this Employee.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="" id="delete_form" method="POST">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input name="_method" type="hidden" value="delete" />
            <button type="submit" id="delete-btn" class="btn btn-danger">Delete anyway!</button>
        </form>
      </div>
    </div>
  </div>
</div>








<div class="container mt-4">

    <div class="row">

        <div class="col-md-offset-2 col-md-9">
            <% if flash[:notice] %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><%= flash[:notice] %></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% end %>
            <h2>Employees</h2>
            <%= link_to "Add New Employee", new_employee_path, class: "btn btn-info", role: "button" %>
            <hr>
            <div class="card">

                <div class="card-body">
                    <% if @employees.size == 0 %>
                        <p>There is no employees yet...</p>
                    <% end %>

                    <table class="table table-dark" style="width: 100%; table-layout: fixed;">
                        <thead>
                            <tr>
                            <th scope="col" style="width: 10%;">Id</th>
                            <th scope="col" style="width: 15%;">First Name</th>
                            <th scope="col" style="width: 15%;">Last Name</th>
                            <th scope="col" style="width: 15%;">Email</th>
                            <th scope="col" style="width: 15%;">Phone</th>
                            <th scope="col" style="width: 15%;">Company</th>
                            <th scope="col" style="width: 15%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <% @employees.each do |employee| %> 

                                <tr>
                                    <th scope="row"><%= employee.id %></th>
                                    <td><%= employee.first_name %></td>
                                    <td><%= employee.last_name %></td>
                                    <td><%= employee.email %></td>
                                    <td><%= employee.phone %></td>
                                    <td><%= employee.company.name %></td>
                                    <td>
                                        <%= link_to "Show", employee_path(employee.id), class: "btn btn-sm btn-success", role: "button" %>
                                        <%= link_to "Edit", edit_employee_path(employee.id), class: "btn btn-sm btn-primary", role: "button" %>
                                        <a href="#" data-employee-id="<%= employee.id %>" data-employee-title="<%= employee.first_name %>" data-toggle="modal" data-target="#delete_modal" role="button" class="btn btn-sm btn-danger">Delete</a>

                                    </td>
                                </tr>
                            
                            <% end %> 

                        </tbody>
                    
                    </table>
                    <div class="digg_pagination">
                        <div class="page_info">
                            <%= page_entries_info @employees %>
                        </div>
                        <%= will_paginate @employees, :container => false %>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


<script>

    $('#delete_modal').on('show.bs.modal', function(e) {
        let data = $(e.relatedTarget).data();
        let actionRoute = "/employees/"+data.employeeId;
        $(this).find('#deleteModalLabel').text(`Confirm to deleting the "${data.employeeTitle}" employee`);
        $('#delete_form').attr('action', actionRoute);
    });

</script>



