<div class="container mt-4">
    <div class="row">
        <div class="col-offset-md-2 col-md-5">
            <%= form_for @company, html: { multipart: true } do |f| %>
                <%= render "shared/errors", object: @company %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, :autofocus => true, :class => "form-control", 'aria-describedby' => "nameHelp", :value => @company.name %>
                    <small id="nameHelp" class="form-text text-muted">Required field</small>
                </div>
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, :class => "form-control", :value => @company.email %>
                </div>
                <div class="form-group">
                    <%= f.label :website %>
                    <%= f.text_field :website, :class => "form-control", :value => @company.website %>
                </div>
                <div class="image_wrapper">
                    <p>Logo:</p>
                    <img style="object-fit: cover; width: 100px; height: 100px;" class="card-img-top img-responsive" src="<%= @company.logo_url.nil? ? 'https://bavariancarcare.com/wp-content/uploads/2019/12/image-placeholder-1200x800-1.jpg' : @company.logo_url%>" alt="logo">
                </div>
                <hr>
                <div class="custom-file">
                    <p>For New Logo:</p>
                    <%= f.file_field :logo %>
                </div>
                <hr>
                <%= f.submit "Save", class: "btn btn-primary" %>
                <%= link_to "Back To Companies", companies_path, class: 'btn btn-secondary' %>
            <% end %>    
        </div>        
    </div>
</div>